@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.flex1{
  /*border: 1px solid black;*/
  /*display: flex;*/
  /*  justify-content: space-between;*/
  display: flex;
  flex-direction: column; /* Arrange elements in a column */
  justify-content: space-between; /* Space between elements (or use 'flex-start' or 'flex-end' as needed) */
  align-items: flex-start; /* Align items along the start (left) of the container */
}
.dm-sans-paragraph {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  /* margin-top: 20px; */
  font-size: 14px;
  /* border: 1px solid black; */
  width:150px;
  margin-top: -70px;
  
  /* Optionally, you can add other styling for the paragraph */
}
.inside-flex{
    display: flex;
    /* align-items: start; */
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 500px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(244, 244, 244) !important;
}
.dashboard-container{
  width: 100%;
  display: flex;

  /* flex-direction: column; */
}
.loggedInUser{
  /* position: relative; */

}
.sidebar-section{
  
  /* border: 1px solid red; */
  width: 7vw;
  background-color: rgb(39, 2, 75) !important;
  height: 100vh;
 

}
.influencer-section{
  width: 93vw;
  display: flex;
  flex-direction: column;
  
}
.recent-text{
  text-align: start;
}

.ele1{
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
}
.ele2{
  align-self: flex-end;
}
/*=====================================*/
.flex2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main_container {
  flex: 1;
  /*border: 1px solid green;*/
}
.box1{
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container .col .box {
  width: 350px;
  height: 380px;
  border: 1px solid rgba(219, 219, 219, 1);
  background: white;
  border-radius: 1px;
  margin: 0 0 10px;
  /* padding: 10px 0; */
  z-index: 2;
}
