body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  /* fonts */
  --font-roboto: Roboto;
  --checkbox: "SF Pro Display";
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --checkbox-size: 12px;

  /* Colors */
  --color-black: #000;
  --white-ffffff: #fff;
  --system-blue-007aff: #007aff;
  --color-ghostwhite: #f7f8ff;
  --black-900-1a1a1a: #1a1a1a;
  --black-50-f2f2f2: #f2f2f2;
  --black-100-e5e5e5: #e5e5e5;

  /* border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
}
