*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 244, 244) !important;
}
.dashboard-container{
    width: 100%;
    display: flex;

    /* flex-direction: column; */
}
.loggedInUser{
    /* position: relative; */
  
}
.sidebar-section{
    
    /* border: 1px solid red; */
    width: 7vw;
    background-color:white !important;
    height: 100vh;
    outline: none;
    background: transparent !important;
   

}
.influencer-section{
    width: 93vw;
    display: flex;
    flex-direction: column;

}
/* .recent-text{
    position: relative;
    right: 38vw;
} */
.feed-calendar {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.feed-container{
    margin-right: 40px;
}