*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 244, 244) !important;
}
.dashboard-container{
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}

.sidebar-section{
    
    /* border: 1px solid red; */
    width: 7vw;
    background-color: rgb(39, 2, 75) !important;
    height: 100vh;
   

}
.influencer-section{
    width: 93vw;
    /* border: 2px solid blueviolet; */
}