/* SideNavbar.css */

  .add-influencer{

  }
  .navbar{
    /* display: flex;
    flex-direction: column;  */
    position: absolute;
    width:7vw ;
    align-items: start;
    justify-content: center;
    text-align: center;
    background-color: #B5A9FC !important;
    height: 100vh;
    position:fixed;
    border: none !important;
    outline: none !important;
  }
  .navbar-brand{
    margin-left: 12px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: black;
    width: 30px;
    position: relative;
    align-items: center;
  }

  .add-influencer{
    color: blue !important;
    text-decoration: none;
    background-color: transparent;
    border: none;
    width: 2vw;

  }
  .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nav-item{
    margin: 15px;
    font-size: 2vw !important;
  }
  .nav-item a{
    color: black !important;
  }
  .sidebar-container{
    display: flex;
    flex-direction: row;
  }

