*{
    margin: 0;
    padding: 0;
}



.register-form-container{
    background-color: white;
    display: inline-block;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.signup-icons{
    width:20px;
    object-fit: cover;
    margin-right: 3px;
}

.signup-social-btn{
    background-color: white;
    cursor: pointer;
    width: 190px;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.input-field-register{
    padding: 6px;
    width: 250px;
    margin: 3px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.social-heading{
    font-size: 12px;
}
.input-field-register:focus{
    outline: none;
}

.input-field-register::placeholder{
    color: rgb(17, 17, 17);
    font-size: 13px;
}

.register-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}
.register-main-heading{
    font-size: 30px;
    font-family: var(--font-dm-sans);
  }

.option-register{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.have-acc{
    font-size: 13px;
}
.forget-pass{
    margin-left: 35px;
}